In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("EEG_Eye_State_Classification_2Classes.csv")

In [3]:
print(df)

           AF3       F7       F3      FC5       T7       P7       O1       O2  \
0      4329.23  4009.23  4289.23  4148.21  4350.26  4586.15  4096.92  4641.03
1      4324.62  4004.62  4293.85  4148.72  4342.05  4586.67  4097.44  4638.97
2      4327.69  4006.67  4295.38  4156.41  4336.92  4583.59  4096.92  4630.26
3      4328.72  4011.79  4296.41  4155.90  4343.59  4582.56  4097.44  4630.77
4      4326.15  4011.79  4292.31  4151.28  4347.69  4586.67  4095.90  4627.69
...        ...      ...      ...      ...      ...      ...      ...      ...
14975  4281.03  3990.26  4245.64  4116.92  4333.85  4614.36  4074.87  4625.64
14976  4276.92  3991.79  4245.13  4110.77  4332.82  4615.38  4073.33  4621.54
14977  4277.44  3990.77  4246.67  4113.85  4333.33  4615.38  4072.82  4623.59
14978  4284.62  3991.79  4251.28  4122.05  4334.36  4616.41  4080.51  4628.72
14979  4287.69  3997.44  4260.00  4121.03  4333.33  4616.41  4088.72  4638.46

            P8       T8      FC6       F4       F8      AF4  eye-closed  \
0      4222.05  4238.46  4211.28  4280.51  4635.90  4393.85           0
1      4210.77  4226.67  4207.69  4279.49  4632.82  4384.10           0
2      4207.69  4222.05  4206.67  4282.05  4628.72  4389.23           0
3      4217.44  4235.38  4210.77  4287.69  4632.31  4396.41           0
4      4210.77  4244.10  4212.82  4288.21  4632.82  4398.46           0
...        ...      ...      ...      ...      ...      ...         ...
14975  4203.08  4221.54  4171.28  4269.23  4593.33  4340.51           1
14976  4194.36  4217.44  4162.56  4259.49  4590.26  4333.33           1
14977  4193.33  4212.82  4160.51  4257.95  4591.79  4339.49           1
14978  4200.00  4220.00  4165.64  4267.18  4596.41  4350.77           1
14979  4212.31  4226.67  4167.69  4274.36  4597.95  4350.77           1

       eye-open
0             1
1             1
2             1
3             1
4             1
...         ...
14975         0
14976         0
14977         0
14978         0
14979         0

[14980 rows x 16 columns]

In [4]:
# Define the number of samples and duration
num_samples = 14980
total_duration = 117  # seconds
sample_rate = int(num_samples / total_duration)  # Samples per second (Hz)
first_feature = df.iloc[:,:1]
print(first_feature)

           AF3
0      4329.23
1      4324.62
2      4327.69
3      4328.72
4      4326.15
...        ...
14975  4281.03
14976  4276.92
14977  4277.44
14978  4284.62
14979  4287.69

[14980 rows x 1 columns]

In [8]:
channels = 14
# Initialize an empty list to store the FFT magnitudes for each chunk
fft_rows = []

# Iterate over each chunk of 128 rows
for i in range(1, total_duration):        # Miss the last second
    fft_magnitudes = []
    
    # Iterate over each column, considering 2 columns at a time
    for col in range(0, channels):
        # Extract the chunk of 128 rows for the current column
        signal = df.iloc[sample_rate * (i - 1):sample_rate * i, col]    # window size of 128 "time samples"  from 1 channels
        
        # Compute the FFT of the extracted rows
        fft_output = np.fft.fft(signal)
        
        # Compute the magnitude of the FFT result
        fft_magnitude = np.abs(fft_output)
        
        # Append the magnitudes to the list for this chunk
        fft_magnitudes.extend(fft_magnitude)
    
    # Append the FFT magnitudes of this chunk as a new row in the fft_rows list
    fft_rows.append(fft_magnitudes)

# Convert the list of FFT rows to a DataFrame
new_table = pd.DataFrame(fft_rows)
# should be 1792 coulmns (128 samples* 14 channels) , rows = 116 (sec) 
new_table

,0,1,2,3,4,5,6,7,8,9,...,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791
0,551694.41,250.404812,206.192398,289.169759,175.020675,118.274396,191.445924,17.237535,380.624904,97.064394,...,343.647596,146.093052,440.544233,42.129744,243.880444,105.045917,175.166454,311.618119,275.210540,473.800411
1,558958.00,5958.264293,2093.891033,879.260740,774.320987,539.351889,159.515419,287.093780,116.296067,234.382506,...,53.200631,153.111488,82.319331,302.241960,146.559979,221.096496,660.966531,568.365861,1735.895012,5927.658618
2,554173.31,1509.263175,1655.893956,443.492601,389.739056,92.104952,462.123408,141.354446,103.336793,137.049118,...,184.992766,176.622372,141.503472,61.483821,316.681205,133.854032,515.900489,309.760546,1110.292453,1176.629378
3,550088.21,760.885878,562.828281,256.298148,298.549138,270.582917,193.961913,154.435391,129.801679,106.924569,...,184.182791,171.477946,139.649259,176.858765,223.176527,210.112166,221.076661,196.675493,402.008279,884.289175
4,550081.57,1681.550444,663.869342,220.792381,563.816575,289.546088,153.495198,184.216516,309.456610,84.137115,...,168.603729,56.961792,200.570813,160.351806,158.724502,275.434777,612.984791,202.066796,681.900830,1423.860465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,559965.10,4206.184830,1128.941096,272.656531,348.037781,457.956118,211.050358,130.363580,137.741368,162.961460,...,136.368300,168.261543,227.825137,195.065576,238.211589,583.576096,361.208875,538.348646,1045.878338,3614.977347
112,548415.90,347.610046,745.674058,547.252604,381.760250,454.950541,269.742048,346.463066,258.746821,224.559456,...,69.013993,225.195502,286.619431,292.579682,205.139865,435.068893,538.044976,616.234032,668.892586,791.412687
113,543423.58,1313.366534,750.742748,351.372568,242.047177,328.575239,497.853790,762.762924,239.061905,301.418778,...,218.853273,214.878425,138.214719,532.060437,348.106339,224.824414,236.497411,422.729314,792.735579,1072.935488
114,546662.05,329.721910,279.327604,315.578587,184.217384,186.951131,187.114519,117.466273,224.667291,172.909934,...,65.798500,212.631893,260.818189,112.987419,172.503502,152.783473,191.991707,467.357826,232.258646,384.608140
115,548170.22,132.253502,263.765603,79.394614,74.435272,220.888037,66.340203,82.518883,186.886057,132.972516,...,84.778689,196.442440,213.213802,107.529422,60.341210,117.061259,149.459205,137.424754,283.337231,361.990902

In [7]:
#building the eye state of 128 combined samples
#The 14 column indicate that the eye close
#If sum == 0  --> class of batch is "0" (eye-open)
#If sum == 128  --> class of batch is "1" (eye-closed)
#if sum < 128  --> class of batch is "2" (blinking eye)

list = []
for i in range(1,total_duration):
    sum_of_batch =df.iloc[sample_rate * (i - 1):sample_rate * i, 14].sum()  # sum of window size of 128 "time samples"  of classes
    list.append(sum_of_batch)
sum = pd.DataFrame(list)
sum_data = {'value' :list}
sum_data_df = pd.DataFrame(sum_data)

new_rows = []
for index, row in sum_data_df.iterrows():
    value = row['value']
    if value == 0:
        new_row = [0, 1, 0]
    elif value == 128:
        new_row = [1, 0, 0]
    else:
        new_row = [0, 0, 1]
    new_rows.append(new_row)
class_df = pd.DataFrame(new_rows)
print(class_df)

     0  1  2
0    0  1  0
1    0  0  1
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
111  0  0  1
112  0  1  0
113  0  1  0
114  0  1  0
115  0  1  0

[116 rows x 3 columns]

In [7]:
#expand new_table with 3 additional columns for classes
for col in range(3):
    new_table[col + 1792] = np.nan  # Start adding columns from column index 128

# Iterating over class_df
for i in range(116):
    new_table.iloc[i, -3:] = class_df.iloc[i]
new_table

,0,1,2,3,4,5,6,7,8,9,...,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794
0,551694.41,250.404812,206.192398,289.169759,175.020675,118.274396,191.445924,17.237535,380.624904,97.064394,...,42.129744,243.880444,105.045917,175.166454,311.618119,275.210540,473.800411,0.0,1.0,0.0
1,558958.00,5958.264293,2093.891033,879.260740,774.320987,539.351889,159.515419,287.093780,116.296067,234.382506,...,302.241960,146.559979,221.096496,660.966531,568.365861,1735.895012,5927.658618,0.0,0.0,1.0
2,554173.31,1509.263175,1655.893956,443.492601,389.739056,92.104952,462.123408,141.354446,103.336793,137.049118,...,61.483821,316.681205,133.854032,515.900489,309.760546,1110.292453,1176.629378,1.0,0.0,0.0
3,550088.21,760.885878,562.828281,256.298148,298.549138,270.582917,193.961913,154.435391,129.801679,106.924569,...,176.858765,223.176527,210.112166,221.076661,196.675493,402.008279,884.289175,1.0,0.0,0.0
4,550081.57,1681.550444,663.869342,220.792381,563.816575,289.546088,153.495198,184.216516,309.456610,84.137115,...,160.351806,158.724502,275.434777,612.984791,202.066796,681.900830,1423.860465,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,559965.10,4206.184830,1128.941096,272.656531,348.037781,457.956118,211.050358,130.363580,137.741368,162.961460,...,195.065576,238.211589,583.576096,361.208875,538.348646,1045.878338,3614.977347,0.0,0.0,1.0
112,548415.90,347.610046,745.674058,547.252604,381.760250,454.950541,269.742048,346.463066,258.746821,224.559456,...,292.579682,205.139865,435.068893,538.044976,616.234032,668.892586,791.412687,0.0,1.0,0.0
113,543423.58,1313.366534,750.742748,351.372568,242.047177,328.575239,497.853790,762.762924,239.061905,301.418778,...,532.060437,348.106339,224.824414,236.497411,422.729314,792.735579,1072.935488,0.0,1.0,0.0
114,546662.05,329.721910,279.327604,315.578587,184.217384,186.951131,187.114519,117.466273,224.667291,172.909934,...,112.987419,172.503502,152.783473,191.991707,467.357826,232.258646,384.608140,0.0,1.0,0.0
115,548170.22,132.253502,263.765603,79.394614,74.435272,220.888037,66.340203,82.518883,186.886057,132.972516,...,107.529422,60.341210,117.061259,149.459205,137.424754,283.337231,361.990902,0.0,1.0,0.0

In [8]:
new_table.to_csv('EEG_Eye_State_Classification_test_eyuda.csv', index=False, header=False)